$color__gray: #666;
$color__gray--light: #ece9e9;
$color__blue--dark: #333c4e;
$color__blue: #3b99fc;
$color__blue--light: #f0f3f7;
$color__rosa: #FF4C70;
$color__rosa--light: #FFFCFD;

$bg__header: #212c39;

$color--info: #347fc4;
$color--success: #4eb509;
$color--warning: #f39c12;
$color--danger: #e74c3c;
$color--method-put: #59484b;
